<div class="container">
<h2 class="my-4">Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  <br><br>

  <button class="btn btn-outline-info">Login</button>
  <br><br>
  </form>

  <p>
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</div>

