<h2>Superheroes</h2>

{{#each user}}
<div class="row" id="hero">
  <div>{{username}}</div>
  <div><img src="{{pictureUrl}}" alt=""></div>
  <button type="button" class="btn btn-outline-success">Request Me!</button>
</div>
{{/each}}