<h2>Superheroes</h2>

{{#each user}}
<div class="row" id="hero">
  <div><img src="{{pictureUrl}}" alt=""></div>
  <h3>{{username}}</h3>
  <p>{{skills}}</p>
  <button type="button" class="btn btn-outline-success">Request Me!</button>
</div>
{{/each}}