<h2>Superheroes</h2>
<div class="container">
  <div class="card-deck">

    {{#each user}}
    {{#if isSuperHero}}
    {{!-- <div class="col"> --}}
    <div class="hero card m-2">
      <h3>{{username}}</h3>
      <div class="imgcontainer">
        <img class="img-fluid rounded-circle" src="{{pictureUrl}}" alt="">
      </div>
      {{#each skills}}
      <div>{{this}}</div>
      {{/each}}
      <div class="request-button">
        <a href="/new-request/{{_id}}" class="btn btn-outline-success">Request Me!</a>
      </div>
    </div>
    {{!-- </div> --}}
    {{/if}}
    {{/each}}
    

  </div>
</div>