<div class="container d-flex flex-column">
  <div class="media pt-3">
     <div class="media-body row justify-content-center">
<h1 class="media-heading ml-5 pl-5">Welcome to IronHeroes!</h1>
</div><span class="media-center">
<img src="images/wow.svg" style="max-width:35%">
</span>
   
</div>
<br>


<div class="container d-flex flex-row">
  <div class="col-12 col-sm-2 col-md-8">
    <h3 class="text-dark">Need a superhero? <br>
      You came to the right place!<br>Signup or login to call one!</h3>
    <div class="col-md-3 ml-md-auto">
    
  </div>
</div>


  
<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
{{!-- <div class="col-md-3 ml-md-4"> --}}
    <div class="media w-50 bg-secondary pr-1 rounded-circle">
       <div class="media-body">
         <h6 class="media-heading">Vaultboy</h6>
         <p class="text-info">"Greatest variety of superheroes!"</p>
        </div>
      <div class="media-right">
       <img src="images/vaultboy.png" class="media-object bg-dark" style="max-width: 75%">
      </div>
    </div>

  </div>
</div>
<br>

<!-- Left-aligned -->
<div class="media ml-1 w-25 bg-info pr-4 rounded-circle">
  <div class="media-left">
    <img src="images/notebookboy.jpg" class="media-object" style="max-width: 75%">
  </div>
  <div class="media-body">
    <h6 class="media-heading">Ironhacker</h6>
    <p class="text-light">"Aaronman saved my project! 10/10!"</p>
  </div>
</div>



<!-- Right-aligned -->
<div class="media mx-auto w-25 bg-light rounded-circle">
  <div class="media-body">
    <h6 class="media-heading">Anon</h6>
    <p class="text-dark em">"I regularly book Thor for all my needs!"</p>
  </div>
  <div class="media-body">
    <img src="images/womanthumbsup.png" class="media-object bg-info" style="max-width: 75%">
  </div>
</div>


</div>