<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport” content=" width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible” content=" ie=edge">
  <title>IronHeroes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>

 <nav>
  <div class="header-left">
    <a href="/">Home</a>
    <a href="/find-super-hero">Superheroes</a>
    {{!-- <a href="/new-request/">New Request</a> --}}
  </div>
  <div class="header-right">
    {{#if isConnectedAndActive}}
    <a href="/users/{{user._id}}/profile">Profile</a>
    <a href="/auth/logout">Logout</a>
    {{else}}
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    {{/if}}
  </div>
  <div class="clearfix"></div>
 </nav>

{{{body}}}

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</html>