<h1>Add a new Request</h1>

<form action="/new-request/add?request={{request._id}}" method="POST">
 <input type="text" placeholder="What is your request?" name="subject" id="" > <br>
 <input type="text" placeholder="Choose required skills" name="skillsRequired" id="" > <br>
 <input type="text" placeholder="Address" name="address" id="" > <br>

 <button type="submit">Submit Request</button>
</form>